.wrapper {
    padding: 5px 0px;
    display: flex;
    width: 100%;
    background-color: rgb(42, 128, 165);
    justify-content: center;

    .button {
        border: 1px solid black;
        margin-right: 10px;
        display: flex;
    }
}